.container {
    height: 90vh;
    width: 100%;
    background-color: black;
    overflow-x: hidden;
    box-sizing: border-box;
    margin-bottom: 100vh;
    z-index: -3;
}



.info {
    display: flex;
    flex-direction: column;
}

.info > h2 {
    color: white;
    font-size: 3rem;
    text-align: center;
    height: 20vh;
    font-family: 'Montserrat', sans-serif;
    margin: 100px 0 100px 0;
}


.cls1 {
    stroke: white;
    stroke-width: 1px;
}